* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

.navBar {
  display: flex;
  /* background-color: #333; */
  color: #fff;
  /* height: 100vh; */
  padding: 8vh;
  justify-content: space-around;
  /* background-color: rgba(0, 0, 0, .4); */
  backdrop-filter: blur(1px);
  width: 100%;
  /* z-index:10; */
  /* position: fixed; */
  /* top: 0; */
}

.navButton {
    /* padding: 14px 80px; */
}

.logoButton {
  position: relative;
  top: -5vh;
  left: -5vw;
  background-color: #FFD7BA;
  width: 100px;
  height: 80px;
}

.hero {
  background-image: linear-gradient(rgba( 203, 153, 126, 0.6), rgba(107, 112, 92, 0.5)), url("taromilktea.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(5%, 70%); */
  padding-top: 10vh;
  color: white;
}

.menuSection {
    padding: 5vh;
    /* margin: 2vh; */
}

.menuItems {
  /* background-color: #e3e; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* align-items: flex-start; */
  /* height: 45vh; */
  /* padding: 10vmin; */
  /* gap: 10px 20px; */
}

.menuDropdown {
  margin: 2vmin;
}

.menuDropdown ul {
  /* margin: 5vmin; */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuDropdown li {
  padding: 1vh;
  align-items: center;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 1vw 1vw 0;
    width: 25vw;
}

summary {
    font-weight: bold;
    margin: -1vw -1vw 0;
    padding: 1vw;
}

details[open] {
    padding: 1vw;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 1vw;
}

.aboutSection {
  background-color: #FAE1DD;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutSection .introduction {
  display: flex;
  /* padding: 3vh; */
  margin: 3vh;
}

.introduction * {
  /* margin: 1vw; */
  padding: 1vw;
  width: 45vw;
}

.locationsSection {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locationsSection .storelocations {
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
}

.addresslocation {
  padding: 2vw;
}

.contactSection {
  /* background-color: #F8EDEB; */
  background-color: #FAE1DD;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactinfo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.contactinfo * {
  padding: 2vw;
}

.sectionHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border-bottom: 1px solid #aaa; */
}

.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
